body {
	background-color: #FF9;
}
h1 {
	color:#000;
	text-align:center;
	text-decoration:underline;
	font-style:inherit;
}
h2 {
	font-size:30px;
	color:#000;
	text-align:center;
	font-style:inherit;
}
*{
   
    box-sizing: border-box;
    
}

.HD{
  
  text-align: center;
  color: #fff;
  background-color: #777;
  border-style:
}

.topmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #777;
}

.topmenu li {
    float: left;
}

.topmenu li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.topmenu li a.active {
  /* Home pag */
    color: white;
    background-color: #4CAF50;
}

@keyframes myAnim{
    0%   {background-color: red;}
    50%  {background-color: blue;}
    100% {background-color: green;} 
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    position: relative;
    overflow: auto;
}

.sidemenu {
    width: 25%;
}

.content {
    width: 75%;
}

.sidemenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidemenu li a{
    margin-bottom: 10px;
    display: block;
    padding: 8px;
    background-color: #eee;
    text-decoration: none;
    color: #666;
    transition:0.2s;
}

.sidemenu li a:hover {
    background-color: #555;
    color: white;
/*  this code to do boxs curve  */
    border-radius:0 20px;
    transform:rotate(10deg);
}

.sidemenu li a:active {
    background-color: #42d0ff;
    color: white;
}

.sidemenu li a.active {
/*  corvaills  */
    background-color: #008CBA;
    color: white;
}
