html {
    font-family: McLaren,serif;
}
body {
    
    background-color: springgreen;
    background-position:center;
}

.heading {
    text-align: center;
    font-family: Merriweather,serif;
    margin-top: 30px;
    font-size: 60px;
    color: #fff;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 100ms;
}
.heading:hover{
    transform: translateY(1px);
}
.subheading {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: lighter;
    background-color: rgba(0, 0, 0, .1);
    font-size: 27px;
    color:#fff;
    transition:300ms all;
}
.subheading:hover{
    background-color: rgba(0, 0, 0, .3);
}
.card_container{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    display: flex;
    background-color:#fff;
    width: 270px;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .5);
    filter: blur(.5px);
    filter:saturate(80%);
    transition: 300ms all;
}
.card:hover{
    filter:saturate(1);
    filter: blur(0px);
    transform:scale(1.1);
}
.img{

    width: 150px;
    height: 150px;
    border-radius: 50%;

}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.icon{

    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    margin:0px 15px 0px 15px ;
    transition: 300ms all;
}
.icon svg{
  padding-top:.4vh;
}
.icon:hover{
    box-shadow:0px 0px 25px -4px rgba(0,0,0,0.72);
}
.title{
    font-family: Merriweather,serif;
    font-style: italic;
    font-weight:550;
    font-size: 30px;
    margin-top: 0px;
}
.button{
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    vertical-align: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    font-stretch: ultra-expanded;
    animation-name: buttonAnimation;
    animation-duration: 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes buttonAnimation{
 0%{
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0);
 }
 50%{
    box-shadow: 8px 8px 10px rgba(0, 0, 0, .5);
 }
 1000%{
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0);
 }
}

@media screen and (max-height: 1023px) {
  #header{
    height: 230vh;
    width: 100vw;
  }
  .heading {
    margin-top: 50px;
    font-size: 10vh;
  }
}
@media screen and (min-width: 1024px) {
  #header{
    height: 100vh;
    width: 100vw;
  }
  .heading {
    margin-top: 30px;
    font-size: 10vh;
  }
  .subheading {
    font-size: 4.5vh;
  }
  .card{
    margin: .7vw;
    width: 19vw;
    height: 48vh;
  }
  .img{
    width: 12vw;
    height: 23vh;
  }
  .icon{
    vertical-align:center;
    width: 2vw;
    height: 5vh;
    padding: 0vh 1vh 0vh 1vh;
  }
  .icon:hover{
    box-shadow:0px 0px 25px -4px rgba(0,0,0,0.72);
  }
  .title{
    font-size: 4.5vh;
  }
  .button{
    width: 15vw;
    height: 8vh;
    border: .4vh solid #fff;
    font-size: 3vh;
  }
}
